<div>
  Student Manager
</div>
<div>
  <div>
    <label for="name">Name</label>
    <input type="text" [ngModel]="newStudent.name" name="name" id = "name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" [ngModel]="newStudent.email" name="email" id="email" required>
  </div>
  <div>
    <label for="age">Age</label>
    <input type="number" [ngModel]="newStudent.age" name="age" id="age" required>
  </div>
  
  <button>+ Hinzufügen</button>
</div>


<div *ngFor="let student of students">
  <li>{{student.name}}</li>
  <li>{{student.email}}</li>
  <li>{{student.age}}</li>
</div>